.chat-main
  .chat-main__group-info
    .chat-main__group-info__names
      .chat-main__group-info__names__main
        = @group.name
      %ul.chat-main__group-info__names__sub
        Member：
        %li.chat-main__group-info__names__sub__member
        = @group.users.pluck(:name).join(", ")
    = link_to "Edit", edit_group_path(@group.id), class: "chat-main__group-info__edit"
  .chat-main__message
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "chat-main__message-form__contents"}, local: true do |f|
      .chat-main__message-form__contents__texts
        = f.text_field :content, class: 'chat-main__message-form__contents__texts__main', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__contents__texts__photo' do
          = icon('far', 'image', class: 'chat-main__message-form__contents__texts__photo__icon')
          = f.file_field :image, class: 'chat-main__message-form__contents__texts__photo__hidden'
      = f.submit 'Send', class: 'chat-main__message-form__contents__send'
