.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__edit
          = link_to "#" do
            = icon('far', 'edit')
        %li.top-items__icons__edit
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')
  .side-bar__group-list
    .side-bar__group-list__chat
      .side-bar__group-list__chat__main techcamp
      .side-bar__group-list__chat__sub まだメッセージはありません
    .side-bar__group-list__chat
      .side-bar__group-list__chat__main techcamp
      .side-bar__group-list__chat__sub まだメッセージはありません
