.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__edit
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.top-items__icons__edit
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__chat
        = link_to '#' do
          .side-bar__group-list__chat__main
            = group.name
          .side-bar__group-list__chat__sub
            メッセージはまだありません
